:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 55px 0;
  font-family: var(--default-font-family);
}
div {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin: 100px;
}
footer h4 {
  font-size: 48px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 110px 20px 55px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.work-content-container {
  padding: 60px 20px;
}
.work-content {
  text-align: center;
  padding: 0;
  margin: 30px;
}

.work-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.work-content p {
  font-size: 14px;
}

.work-content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.about-me-content {
  margin: 180px 100px;
}
.about-me-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-me-content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
}

.contact-info {
  padding: 120px 50px;
}

.contact-info h1 {
  font-size: 64px;
  line-height: 80px;
}
.contact-info h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: black;
}
.contact-info p {
  font-size: 14px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}

@media (max-width: 900px) {
  .work-content {
    text-align: center;
    padding: 0;
  }
  .content {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .about-me-content container {
    max-width: 540px;
  }
}
.portrait {
  max-width: 100%;
  height: auto;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
